<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <title>Rotating Navigation</title>
    </head>
    <body>
        <div class="container">
            <div class="circle-container">
                <div class="circle">
                    <button id="close">
                        <i class="fas fa-times"></i>
                    </button>
                    <button id="open">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        

            <div class="content">
                <h1>Amazing Article</h1>
                <small>Kumbukani Kamanga</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci doloribus quia ducimus. Quas porro magnam quis, eligendi ad amet eveniet vel reiciendis ducimus hic ipsam est placeat nulla quaerat. Laborum quod ad id voluptatem sint impedit ducimus, odio ab, molestiae autem nobis modi culpa voluptatum quis animi error libero. Deleniti totam eaque molestias vel, eum sed pariatur sequi rem beatae quibusdam saepe doloribus magni id voluptate consequatur dignissimos omnis. Delectus iusto repudiandae, aliquam atque eaque dicta maxime suscipit provident nulla et ullam perspiciatis earum ducimus? Excepturi alias inventore nobis corporis enim eaque quod iusto harum. Eligendi maiores suscipit earum quisquam!</p>
                <h3>My Dog!</h3>
                <img src="/assets/images/joe-caione-qO-PIF84Vxg-unsplash.jpg" alt="doggy">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officiis facere suscipit eaque dolorem facilis libero rem asperiores totam, excepturi beatae nostrum unde deserunt vel, neque corrupti obcaecati, esse necessitatibus quasi quam commodi. Est praesentium soluta temporibus fuga natus expedita corrupti voluptatum iusto sequi, cum ratione unde voluptates? Nobis ex veritatis repudiandae saepe non eligendi consequatur ab quaerat, dolorum ipsum quam amet velit hic molestiae? Adipisci distinctio quam numquam reprehenderit quisquam amet libero, dolore voluptate?</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><i class="fas fa-home"></i>  Home</li>
                <li><i class="fas fa-user-alt"></i>  About</li>
                <li><i class="fas fa-envelope"></i>  Contact</li>
            </ul>
        </nav>
        <script src="/assets/js/script.js"></script>        
    </body>
</html>